<footer class="flex justify-content-center flex-wrap">
  <div class="flex align-items-center justify-content-center w-4rem h-4rem m-2">
    <a href="https://github.com/jfecm" rel="noopener noreferrer" target="_blank" aria-label="link-to-github">
      <i class="pi pi-github" style="font-size: 2rem" id="link-github"></i>
    </a>
  </div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem m-2">
    <a href="https://www.linkedin.com/in/joaquin-corimayo-9b0710287/" rel="noopener noreferrer" target="_blank" aria-label="link-to-linkedin">
      <i class="pi pi-linkedin" style="font-size: 2rem" id="link-linkedin"></i>
    </a>
  </div>
</footer>
