<main>
  <section>
    <article>
      <h2>Introduction</h2>
      <p-messages severity="info">
        <ng-template pTemplate>
          <div>
            <p class="text-xl font-bold">
              Software is tested to uncover errors made unintentionally during design and construction.
              An <span pTooltip="It is a mistake made by a programmer."
                       style="border-bottom: 1px dashed #0000FF; cursor: help;"
                       tooltipPosition="top">ERROR</span> introduces a
              <span
                pTooltip="It is a discrepancy between the correct version of a component or system and an incorrect version."
                style="border-bottom: 1px dashed #0000FF; cursor: help;" tooltipPosition="top">DEFECT</span> in the
              software, which causes a
              <span pTooltip="Physical or functional manifestation of a defect (does not follow its normal course)."
                    style="border-bottom: 1px dashed #0000FF; cursor: help;" tooltipPosition="top">FAILURE</span> when
              running tests.
            </p>
          </div>
        </ng-template>
      </p-messages>
    </article>
  </section>

  <h2 class="mt-5">Template Test Case</h2>
  <p-table>
    <ng-template pTemplate="caption">
      <h3 class="text-left underline">Specifications</h3>
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="test-case-id">ID</label>
          <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="test-case-id"
                 type="text">
        </div>
        <div class="field col-12 md:col-6">
          <label for="test-case-author">Author</label>
          <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="test-case-author"
                 type="text">
        </div>
        <div class="field col-12">
          <label for="test-case-requirement">Requirement</label>
          <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="test-case-requirement"
                 type="text">
        </div>
        <div class="field col-12">
          <label for="test-case-purpose">Purpose</label>
          <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="test-case-purpose"
                 type="text">
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <div class="p-grid">
        <div class="p-col">
          <h3 class="text-left underline ml-3">Actions</h3>
          <h3 class="text-center">Description of the actions and/or conditions for the tests</h3>
        </div>
      </div>
      <p-menubar [model]="items"></p-menubar>
      <p-table [value]="testCases">
        <ng-template pTemplate="header">
          <tr>
            <th>Nro</th>
            <th>Actions (Inputs)</th>
            <th>Expected Output</th>
            <th>Actual Output</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-testCase let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ testCase.testActions }}</td>
            <td>{{ testCase.expectedOutput }}</td>
            <td>{{ testCase.actualOutput }}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>

    <ng-template pTemplate="summary">
      <h3 class="text-left underline">Results obtained</h3>
      <div class="formgrid grid">
        <div class="field col-12">
          <p>Results (passed/failed)</p>
          <div class="formgroup-inline gap-3">
            <p-checkbox name="groupname" value="test-case-passed" label="Passed"></p-checkbox>
            <p-checkbox name="groupname" value="test-case-failed" label="Failed"></p-checkbox>
          </div>
        </div>
        <div class="field col-12">
          <label for="test-case-observations">Observations</label>
          <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="test-case-observations"
                 type="text">
        </div>
      </div>
    </ng-template>
  </p-table>
</main>
