<main class="px-6">
  <section>
    <article>
      <h2>Introduction</h2>
      <p-messages severity="info">
        <ng-template pTemplate>
          <div>
            <p class="text-xl font-bold">
              Software is tested to uncover errors made unintentionally during design and construction.
              An <span pTooltip="It is a mistake made by a programmer."
                       style="border-bottom: 1px dashed #0000FF; cursor: help;"
                       tooltipPosition="top">ERROR</span> introduces a
              <span
                pTooltip="It is a discrepancy between the correct version of a component or system and an incorrect version."
                style="border-bottom: 1px dashed #0000FF; cursor: help;" tooltipPosition="top">DEFECT</span> in the
              software, which causes a
              <span pTooltip="Physical or functional manifestation of a defect (does not follow its normal course)."
                    style="border-bottom: 1px dashed #0000FF; cursor: help;" tooltipPosition="top">FAILURE</span> when
              running tests.
            </p>
          </div>
        </ng-template>
      </p-messages>
    </article>
  </section>

  <h2 class="my-5">Template</h2>

  <h4 class="text-left">Specifications</h4>
  <div class="grid">
    <div class="col-6 md:col-12 lg:col-6">
      <div class="flex flex-column gap-2">
        <label for="test-case-id">ID</label>
        <input autocomplete="off" id="test-case-id" pInputText/>
      </div>
    </div>
    <div class="col-6 md:col-12 lg:col-6">
      <div class="flex flex-column gap-2">
        <label for="test-case-author">Author</label>
        <input autocomplete="off" id="test-case-author" pInputText/>
      </div>
    </div>
    <div class="col-12">
      <div class="flex flex-column gap-2">
        <label for="test-case-requirement">Requirement</label>
        <input autocomplete="off" id="test-case-requirement" pInputText/>
      </div>
    </div>
    <div class="col-12">
      <div class="flex flex-column gap-2">
        <label for="test-case-purpose">Purpose</label>
        <input autocomplete="off" id="test-case-purpose" pInputText/>
      </div>
    </div>
  </div>

  <h4 class="text-left">Details</h4>
  <div class="grid nested-grid">
    <div class="col-12">
      <h3 class="text-center">Description of the actions and/or conditions for the tests</h3>
    </div>
    <div class="col-12">
      <div class="grid text-center">
        <div class="col">
          <p-button (click)="addRow()" [rounded]="true" icon="pi pi-check" label="Add row"
                    severity="success"></p-button>
        </div>
        <div class="col">
          <p-button (click)="deleteRow()" [rounded]="true" icon="pi pi-times" label="Delete row"
                    severity="secondary"></p-button>
        </div>
        <div class="col">
          <p-button (click)="clearTable()" [rounded]="true" icon="pi pi-trash" label="Clear table"
                    severity="danger"></p-button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <p-table [value]="testCasesList" responsiveLayout="stack" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Nro</th>
            <th>Actions (inputs)</th>
            <th>Expected output</th>
            <th>Actual output</th>
          </tr>
        </ng-template>
        <ng-template let-testCase pTemplate="body">
          <tr>
            <td>{{ testCase.step }}</td>
            <td>{{ testCase.testActions }}</td>
            <td>{{ testCase.expectedOutput }}</td>
            <td>{{ testCase.actualOutput }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <h4 class="text-left">Results</h4>
  <div class="grid">
    <div class="col-12 text-center">
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton [(ngModel)]="testResult" id="passed-id" inputId="passed-id" name="passed-failed"
                         value="Passed"></p-radioButton>
          <label class="ml-2" for="passed-id">Passed</label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton [(ngModel)]="testResult" id="failed-id" inputId="failed-id" name="passed-failed"
                         value="Failed"></p-radioButton>
          <label class="ml-2" for="failed-id">Failed</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="flex flex-column gap-2">
        <label for="test-case-observations">Observations</label>
        <input autocomplete="off" id="test-case-observations" pInputText/>
      </div>
    </div>
  </div>

  <h4 class="text-left">Download template</h4>
  <div class="grid mb-5 text-center">
    <div class="col-6">
      <p-button [rounded]="true" icon="pi pi-download" label="PDF"></p-button>
    </div>
    <div class="col-6">
      <p-button [rounded]="true" icon="pi pi-download" label="PNG"></p-button>
    </div>
  </div>
</main>
